---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import moreButton from "../../images/more-button.png";
import { Image } from "astro:assets";

const posts = (await getCollection("blog")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="m-auto w-full border-b-4 border-emerald-900">
			<section class="flex w-full flex-col items-center md:m-auto md:w-3/4">
				<div class="mb-5 flex items-center justify-center gap-5">
					<label for="filter">Filtrar por:</label>
					<select class="mb-4 mt-4" name="filter" id="filter">
						<option value="todos">Todos</option>
						<option value="programacion">Programación</option>
						<option value="informatica">Informática</option>
						<option value="offtopic">Off Topic</option>
					</select>
				</div>
				<ul
					class="grid grid-cols-1 content-center gap-8 md:grid-cols-2 md:grid-rows-2 xl:grid-cols-2"
				>
					{
						posts.map((post, index) => {
							let classNames = "post";
							let greaterThanThree = false;
							if (index === 0) {
								classNames +=
									" md:col-start-1 md:col-end-3 md:row-start-1 md:row-end-3 xl:row-end-2 xl:col-end-3";
							}
							if (index >= 3) {
								classNames += " hidden";
								greaterThanThree = true;
							}
							return (
								<li class={classNames + ""} id={post.data.category}>
									<a
										class="flex h-full flex-col items-center justify-center gap-3 xl:justify-start"
										href={`/blog/${post.slug}/`}
									>
										<img
											class="rounded-3xl"
											width={720}
											height={360}
											src={post.data.heroImage}
											alt="s"
										/>
										<h4 class="title">{post.data.title}</h4>
										<p class="date">
											<FormattedDate date={post.data.pubDate} />
										</p>
									</a>
								</li>
							);
						})
					}
				</ul>
				{
					posts.length > 3 && (
						<button id="button__galery" class="mb-5 mt-5">
							<Image class={"w-10"} src={moreButton} alt="More button" />
						</button>
					)
				}
			</section>
		</main>
		<Footer />
		<script>
			const blogPosts = document.querySelectorAll(".post");
			const select = document.getElementById("filter") as HTMLSelectElement;
			window.onload = () => {
				select.options[0].selected = true;
			};
			select.addEventListener("change", (e: Event) => {
				let counter = 0;
				const value = (e.target as HTMLSelectElement).value
					.trim()
					.toLowerCase();
				blogPosts.forEach((post, index) => {
					if (index <= 3) {
						const button = document.querySelector("#button__galery");
						button?.classList.add("hidden");
					}
					// THIS CODE IS A MESS, I KNOW BUT IT PREVENTS LOADING MORE IMAGES THAN NEEDED EVEN WHEN WE USE THE SELECT FILTER
					if (value === "todos" && index < 3) {
						post.classList.remove("hidden");
						return;
					} else if (post.id === value) {
						post.classList.remove("hidden");
					} else {
						post.classList.add("hidden");
					}
					if (index >= 3) {
						post.classList.add("hidden");
					}
				});
			});
		</script>
	</body>
</html>
